@import './reset.css';
@import './grid.css';
@import './modal.css';

#app {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: 'Sulphur Point', sans-serif;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.5;
  z-index: -2;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px;
  height: 100%;
}

h1 {
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  color: black;
  text-shadow: 3px 0 greenyellow, 0 -1px greenyellow;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#reset, #scores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 10px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 5px 10px 8px #888888;
  background-color: greenyellow;
}

#reset {
  margin-left: 0;
}

#scores {
  margin-right: 0;
}

#instructions {
  width: 35%;
  height: 100%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

#title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}

#body {
  margin-bottom: 20px;
}